/*
POLICES
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/*
POLICES
*/

:root{

    --purple : #9356DC ;
    --pink : #FF79DA ;
    --green : #99E2D0 ;
}

body{
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
/*
LOGO
*/
.p_logo{
    display: flex;
    justify-content: center;
}

.logo{
   width: 158px; 
   margin-bottom: -5%;
}

/*
ZONE FORM RECHERCHE
*/

.recherche{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 337px;
    position: relative;
    margin: 0px auto;
    text-align: center;
    
}

.recherche__titre{
    font-weight: 800;
    font-size: 24px;
    margin-top: 12%;
    text-align: center;
}

.recherche--zone {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    border: none;
    font-size: 15px;
    font-weight: 600;
    box-shadow: inset 0px 2px 3px #b4b4b4;
    background-color: #e7e7e7;
    color: #000;
    text-align: center;
  }

  .recherche--bouton {
    height: 50px;
    width: 220px;
    display: block;
    margin:  auto;
    margin-top: 7%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px 5px 10px 0px #c1c1c1;
    background: linear-gradient(170deg, var(--pink), var(--purple) );
    color: #FFF;
}

.recherche__texte{
    font-weight: 300;
}

.recherche i{
    padding-right: 210px;
    position: relative;
    top: 30px;
}
.bloc_titre{
    padding: 0px 15px 0px 15px;
    background-color: #FAFAFA ;
    height: 380px;
}

/*
Fonctionnement
*/

.bouton{
    
    width: 87%;
    height: 75px;
    position: relative;
    margin: 10px auto;
    padding: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: #FAFAFA;
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    color: #000;
    font-family: "Roboto", sans-serif

}

.bouton--numero {
    position: absolute;
    left: -10px;
    top: 26px;
    padding: 3px 8.5px 2px 6.5px;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 22px;
    color: #FFF;
}

.bouton--noir {
    width: 14px;
    margin: 0 7% 0 11%;
    position: relative;
    color: grey;
    text-indent: 11%;
}

.bouton--violet {
    width: 14px;
    position: absolute;
    bottom: 30px;
    left: 0px;
    z-index: -1;
    margin: 0 7% 0 11%;
    color: #9356DC;
    text-indent: 11%;
}

.fonctionnement__titre {
    margin: 0;
    padding: 48px 0 18px 0;
    font-size: 1.5rem;
    text-indent: 6%;
}

.fonctionnement__explication {
    display: flex;
    flex-flow: row wrap;
}