


/* animation bouton moteur de recherche header */
@keyframes mou{
    10%{transform: scale3d(0.93, 0.93, 1);}
    40%{transform: scale3d(1, 1, 1);}
    80%{transform: scale3d(0.97, 0.97, 1);}
    100%{transform: scale3d(0.98, 0.98, 1);}  
}

/* animation activation bouton moteur de recherche */
@keyframes fleche{
    5%{transform: translateY(0) translateX(0) rotateZ(0);}
    10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
    15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
    20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
    25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
    30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
    35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
    40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
    45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
    50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
    55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
    60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
    65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
    70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
    75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
    80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
    85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
    90%{transform: translateY(-2vh) translateX(10vw) rotateZ(1740deg);}
    100%{transform: translateY(-2vh) translateX(10vw) rotateZ(1740deg);}
}
@media screen and (min-width: 281px) and (max-width: 375px){
    @keyframes fleche{
        5%{transform: translateY(0) translateX(0) rotateZ(0);}
        10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
        15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
        20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
        25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
        30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
        35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
        40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
        45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
        50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
        60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
        70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
        80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
        85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        90%{transform: translateY(-2vh) translateX(15vw) rotateZ(1740deg);}
        100%{transform: translateY(-2vh) translateX(15vw) rotateZ(1740deg);}
    }
}
@media screen and (min-width: 376px) and (max-width: 600px){
    @keyframes fleche{
        5%{transform: translateY(0) translateX(0) rotateZ(0);}
        10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
        15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
        20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
        25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
        30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
        35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
        40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
        45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
        50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
        60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
        70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
        80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
        85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        90%{transform: translateY(-2vh) translateX(18vw) rotateZ(1740deg);}
        100%{transform: translateY(-2vh) translateX(18vw) rotateZ(1740deg);}
    }
}
@media screen and (min-width: 601px) and (max-width: 899px){
    @keyframes fleche{
        5%{transform: translateY(0) translateX(0) rotateZ(0);}
        10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
        15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
        20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
        25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
        30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
        35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
        40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
        45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
        50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
        60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
        70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
        80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
        85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        90%{transform: translateY(-2vh) translateX(21vw) rotateZ(1740deg);}
        100%{transform: translateY(-2vh) translateX(21vw) rotateZ(1740deg);}
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px){
    @keyframes fleche{
        5%{transform: translateY(0) translateX(0) rotateZ(0);}
        10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
        15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
        20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
        25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
        30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
        35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
        40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
        45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
        50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
        60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
        70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
        80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
        85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        90%{transform: translateY(-2vh) translateX(23vw) rotateZ(1740deg);}
        100%{transform: translateY(-2vh) translateX(23vw) rotateZ(1740deg);}
    }
}
@media screen and (min-width: 1201px){
    @keyframes fleche{
        5%{transform: translateY(0) translateX(0) rotateZ(0);}
        10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
        15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
        20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
        25%{transform: translateY(-1vh) translateX(-3vw) rotateZ(450deg);}
        30%{transform: translateY(-2vh) translateX(-7.75vw) rotateZ(810deg);}
        35%{transform: translateY(-3vh) translateX(-12.5vw) rotateZ(1170deg);}
        40%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1530deg);}
        45%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1800deg);}
        50%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        55%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1705deg);}
        60%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1740deg);}
        65%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1750deg);}
        70%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        75%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1725deg);}
        80%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1730deg);}
        85%{transform: translateY(-4vh) translateX(-15vw) rotateZ(1735deg);}
        90%{transform: translateY(-2vh) translateX(24vw) rotateZ(1740deg);}
        100%{transform: translateY(-2vh) translateX(24vw) rotateZ(1740deg);}
    }
}
@keyframes fleche-tension{
    0%{transform: rotate(5deg)}
    5%{transform: rotate(-5deg)}
    10%{transform: rotate(4deg)}
    15%{transform: rotate(-5deg)}
    20%{transform: rotate(3deg)}
    25%{transform: rotate(-5deg)}
    30%{transform: rotate(2deg)}
    35%{transform: rotate(-5deg)}
    40%{transform: rotate(1deg)}
    100%{transform: rotate(-20deg)}
}

/* animation fonctionnement */
@keyframes demi-mou{
    0%{transform: scale3d(0.97, 0.97, 1);}
    20%{transform: scale3d(1.02, 1.02, 1);}
    40%{transform: scale3d(0.98, 0.98, 1);}
    60%{transform: scale3d(1, 1, 1);}
    80%{transform: scale3d(0.99, 0.99, 1);}
    100%{transform: scale3d(1, 1, 1);}
}
@keyframes tourne{
    0%{transform: rotate(0deg);}
    10%{transform: rotate(-90deg);}
    20%{transform: rotate(-40deg);}
    30%{transform: rotate(180deg);}
    40%{transform: rotate(360deg);}
    50%{transform: rotate(540deg);}
    60%{transform: rotate(720deg);}
    70%{transform: rotate(780deg);}
    80%{transform: rotate(690deg);}
    90%{transform: rotate(730deg);}
    100%{transform: rotate(720deg);}
}

/* animation navigation restaurants */
@keyframes coup{
    10%{transform:scale3d(0.975, 0.975, 1);}
    40%{transform:scale3d(0.975, 0.975, 1);}
    100%{transform:scale3d(0.99, 0.99, 1);}
}
@keyframes tombe{
    5%{transform: rotateZ(40deg);}
    10%{transform: rotateZ(110deg);}
    15%{transform: rotateZ(85deg);}
    20%{transform: rotateZ(92.5deg);}
    30%{transform: rotateZ(90deg);}
    40%{transform: rotateZ(90deg);}
    50%{transform: rotateZ(75deg);}
    60%{transform: rotateZ(60deg);}
    70%{transform: rotateZ(45deg);}
    80%{transform: rotateZ(30deg);}
    90%{transform: rotateZ(15deg);}
    100%{transform: rotateZ(0deg);}   
} 

/*animation coeur */
@keyframes efface{
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes grandi-bat{
    0%{transform: scale3d(0, 0, 1);}
    33%{transform: scale3d(1, 1, 1);} 
    38%{transform: scale3d(1, 1, 1);} 
    43%{transform: scale3d(1, 1, 1);} 
    48%{transform: scale3d(1, 1, 1);}
    53%{transform: scale3d(1.4, 1.4, 1);}
    58%{transform: scale3d(1.05, 1.05, 1);}
    63%{transform: scale3d(1.2, 1.2, 1);}
    68%{transform: scale3d(1, 1, 1);}
    73%{transform: scale3d(1, 1, 1);}
    78%{transform: scale3d(1, 1, 1);}
    83%{transform: scale3d(1.4, 1.4, 1);}
    88%{transform: scale3d(1.05, 1.05, 1);}
    95%{transform: scale3d(1.2, 1.2, 1);}
    100%{transform: scale3d(1, 1, 1);}
}

/* titre menu miroir */
@keyframes boubou {
    0% {transform: rotate3d(1,0,0, 0deg);}
    50% {transform: rotate3d(1,0,0, 360deg);}
    60% {transform: rotate3d(1,0,0, 420deg);}
    70% {transform: rotate3d(1,0,0, 370deg);}
    80% {transform: rotate3d(1,0,0, 330deg);}
    90% {transform: rotate3d(1,0,0, 350deg);}
    100% {transform: rotate3d(1,0,0, 360deg);}
  }

/* animation menu miroir restaurants */
@keyframes flou{
    0%{opacity: 0}
    30%{opacity: 0}
    60%{opacity: 0.6}
    100%{opacity: 1}
}
@keyframes détend{
    0%{transform: scaleX(0.5); }
    20%{transform: scaleX(0.3); }
    40%{transform: scaleX(0.55); }
    60%{transform: scaleX(0.42); }
    80%{transform: scaleX(0.55); }
    100%{transform: scaleX(0.5); }    
}
@media screen and (min-width: $desktop){
    @keyframes détend{
        0%{transform: translateY(0px); }
        50%{transform: translateY(7.5px); }
        100%{transform: translateY(0px); }
    } 
}
@keyframes colle{
    0%{transform: translateY(10px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}
@keyframes tour{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

/* animation footer */
@keyframes virevolte{
    0%{transform: translateX(0px);}
    25%{transform: translateX(2px);}
    50%{transform: translateX(4px);}
    75%{transform: translateX(8px);}
    100%{transform: translateX(16px);}
}
