// couleurs
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

// couleur additionnelle bouton loadeur
$couleur-load: #FFF;

// couleur background
$couleur-bg: #FAFAFA;
$coul-bg: #FFF;

// couleur backgroud footer
$couleur-footer: #363636;

// couleur police
$couleur-encre: #000;
$couleur-encre-sec: #FFF;

// couleur box-shadow
$ombre: #b4b4b4;

// taille police
$size-un: 1rem;
$size-deux: 1.5rem;
$size-trois: 1.1rem;

// media
$tablet-iphone: 1023px;
$desktop: 1024px;

// pourcentage
$pourcent: 5%;