/* bandeau des pages menu */
.bandeau{
    position: relative;
    &__image{
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
        border-radius: 2px;
        @media screen and (min-width: 900px){
            width: 100%;
            display: block;
            margin: 0 auto;  
        }
    } /* zone en dessous de l'image */
    &__texte{
        width: 100%;
        height: 85px;
        position: absolute;
        bottom: -46px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $couleur-bg;
        &:hover .bandeau__texte__titre{
            animation: boubou 1.2s ease-in forwards;
        } /* nom de la table (restaurant) */
        &__titre{
            padding: 28.5px 0 28.5px 0;
            margin: 0;
            transform-origin: 100% 50%;
            font-size: 1.7rem;
            font-weight: 300;
            text-indent: 3%;
            font-family: 'Shrikhand', cursive;
            @media screen and (max-width: 319px){
                font-size: 1.4rem;
            }
            @media screen and (min-width: $desktop){
                text-align: center;
                text-indent: 0;
            }
        } /* coeur et effet/animation */
        &--selection{
            display: none;
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:checked + .coeur .coeur__filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur__filtre--plein{
                z-index: 1;
                opacity: 1;
                animation: grandi-bat 1.8s linear forwards;
                
            }
            @media screen and (min-width: $desktop){
                &:hover + .coeur .coeur--vide{
                    animation: efface 0.5s linear forwards;
                }
                &:hover + .coeur .coeur__filtre--plein{   
                    opacity: 1;
                }
                &:hover + .coeur .coeur__filtre--plein{
                    z-index: 1;
                    opacity: 1;
                    animation: grandi-bat 1.8s linear forwards;
                    
                }
            }  
        }
    }
}