.coeur{
    @extend %tap-coeur;
    position: absolute;
    right: 10px;
    bottom: 20px;
    &:hover{
        cursor:pointer;
    } /* coeur vide */
    &--vide{
        padding: 13px 12.5px 12px 12.8px;
        font-size: 1.48rem; 
    } /* zone apparition du coeur plein */
    &__filtre{
        @extend %tap-coeur;
        position: absolute;
        right: 0px;
        top: 0px;
        /* coeur plein */
        &--plein{
            position: absolute;
            padding: 12px 11px 12px 13px;
            font-size: $size-deux; 
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0);  
            background: linear-gradient($couleur-primaire 20%, $couleur-secondaire 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}